* {
  font-family: "Play", sans-serif;
  color: white;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.me {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin: auto;
}

body {
  background-image: linear-gradient(to right top, #000000, #0c0a0b, #141314, #1a191b, #1f1f22, #222327, #25282d, #272d32, #283136, #2a3639, #2c3a3b, #2f3e3d);
  max-width: 75rem;
  margin: 3rem auto;
  display: flex;
  min-height: 100vh;
}

header {
  position: sticky;
  top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
  padding: 10px auto;
  min-width: 25%;
  height: 250px;
}

#name {
  font-size: xx-large;
}

/* Styling of navigation (About, Experience Projects) */

nav {
  display: flex; /* nav is block display by default */
  flex-direction: column;
  width: 100%;
}

nav a {
  padding: 10px;
  font-size: large;
  text-align: left;
}

a:hover {
  background-color: white;
  color: black;
}

nav a:hover {
  text-align: right;
}

/* Standard sizing of contact info icons */

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 100%;
}

#contact img {
  max-width: 25px;
  margin: 10px;
  padding: 10px;
}

.socials:hover {
  background-color: transparent;
  border: solid white;
  border-radius: 5%;
}

/* Standard styling of main sections */

#about {
  margin-top: 25px;
}

#about p {
  color: lightgrey;
}

main {
  max-width: 75%;
}

main section {
  max-width: 95%;
  margin: auto;
}

.experience {
  padding: 2.5px 0;
}

.details {
  color: grey;
}

.job-info {
  color: lightgrey !important;
  font-size: 0.9rem;
}

.profile-picture {
  max-width: 25vh;
  border-radius: 50vh;
}

#projects {
  text-align: center;
}

.project-container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

img {
  max-width: 100%;
}

.project {
  position: relative;
  padding: 0;
  margin: 0;
}

.project a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.project-info {
  min-width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.5)
}

@media screen and (max-width: 768px) {
  .me {
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: auto;
  }
  
  body {
    background-image: linear-gradient(to right top, #000000, #0c0a0b, #141314, #1a191b, #1f1f22, #222327, #25282d, #272d32, #283136, #2a3639, #2c3a3b, #2f3e3d);
    max-width: 75rem;
    margin: 3rem auto;
    display: flex;
    min-height: 100vh;
  }
  
  header {
    position: sticky;
    top: 25px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-right: 25px;
    padding: 0 25px;
    min-width: 25%;
    height: 250px;
  }
  
  #name {
    font-size: xx-large;
  }
  
  /* Styling of navigation (About, Experience Projects) */
  
  nav {
    display: flex; /* nav is block display by default */
    flex-direction: column;
    width: 100%;
  }
  
  nav a {
    padding: 10px;
    font-size: large;
    text-align: left;
  }
  
  a:hover {
    background-color: white;
    color: black;
  }
  
  nav a:hover {
    text-align: right;
  }
  
  /* Standard sizing of contact info icons */
  
  #contact {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 100%;
  }
  
  #contact img {
    max-width: 25px;
    margin: 10px;
    padding: 10px;
  }
  
  .socials:hover {
    background-color: transparent;
    border: solid white;
    border-radius: 5%;
  }
  
  /* Standard styling of main sections */
  
  #about {
    margin-top: 25px;
  }
  
  #about p {
    color: lightgrey;
  }
  
  main {
    max-width: 70%;
  }
  
  main section {
    max-width: 95%;
    margin: auto;
  }
  
  .experience {
    padding: 2.5px 0;
  }
  
  .details {
    color: grey;
  }
  
  .job-info {
    color: lightgrey !important;
    font-size: 0.9rem;
  }
  
  .profile-picture {
    max-width: 25vh;
    border-radius: 50vh;
  }
  
  #projects {
    text-align: center;
  }
  
  .project-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  img {
    max-width: 100%;
  }
  
  .project {
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  .project a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .project-info {
    min-width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5)
  }
}